<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Template File Path -->
        <add key="Path_XbrlTemplatePath" value="D:\Project\.Net\5. XBRLAnalysis\XBRLAnalysis\XBRL_Templates\"/>
      
        <!-- Template File Name -->
        <add key="File_XbrlInstance" value="XBRL_Instance.xlsx"/>
        <add key="File_XbrlLabel" value="XBRL_Label.xlsx"/>
        <add key="File_XbrlLinkPresentation" value="XBRL_LinkBase_Pre.xlsx"/>
        <add key="File_XbrlLinkDimension" value="XBRL_LinkBase_Dim.xlsx"/>
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
